<h1>{{title}}</h1>

<div>
<div class="incaseofemergency">{{in_case_of_emergency_call}} <span class="incaseofemergencynumber">{{emergency_number}}</span></div>
</div>

<table border=0 cellspacing=1 cellpadding=1>
	<TR>
		<TD width=25></TD>
		<TD width=190><font size=-1><b>{{lbl_name}}</b></font></TD>
		<td width=80 align="center"><font size=-1><b>{{lbl_check_inout}}</b></font></td>
		{% if showTelephone == 1 %}
			<td width=100 align="center"><font size=-1><b>{{lbl_telephone}}</b></font></td>
		{% endif %}
		{% if showFloors == 1 %}
			<td width=100 align="center"><font size=-1><b>{{lbl_level}}</b></font></td>
		{% endif %}

        {% if isBhv == 1 %}
            <TD style="width:{{vakantieWidth}}px;" align="center"><font size=-1><b>{{lbl_holidayabsences}} {{selectedMonth}} {{selectedYear}}</b></font></TD>
        {% endif %}

	</TR>
    {% if isBhv == 1 %}
    <TR>
        <TD></TD>
        <TD></TD>
        <TD></TD>
        <TD></TD>
        <TD align=center>
            <TABLE border=0 cellspacing=0 cellpadding=0>
                <TR>{{headerDays|raw}}</TR>
            </TABLE>
        </TD>
    </TR>
    {% endif %}

	{% for item in items %}
	<tr>
		<td><div id="divCheckInOut{{id}}">{{item.checkinout|raw}}</div></td>
		<td>{{item.url|raw}}</td>
		<td class="presentornot_absence" style="{{item.status_style}}"><A class="checkinouttime" TITLE="{{item.status_alt}}">{{item.status_text}}</A></td>
		{% if showTelephone == 1 %}
			<td align="center">{{item.telephone|raw}}</td>
		{% endif %}
		{% if showFloors == 1 %}
			<td align="center">{{item.verdieping}}</td>
		{% endif %}
        {% if isBhv == 1 %}
            <TD align="center">{{item.vakantie|raw}}</TD>
        {% endif %}
	</tr>
	{% endfor %}
</table>

{% if showBhvComment == 1 %}
<br>
<font size=-1>Opmerking: Gesorteerd op hi&euml;rarchie. Bij calamiteit moeten de eerste twee 'groene' zich melden bij de receptie, de overigen gaan naar de plek van het ongeval.</font><br>
{% endif %}

{% if showFloors == 1 %}
<br>
<table>
	<tr>
		<td><font size=-1><b>{{lbl_level}}: </b></font></td>
		{{floors|raw}}
	</tr>
</table>
{% endif %}

<br>
<font size=-1><i>
{{lbl_present}}: {{totaal_aanwezig}}<br>
{{lbl_not_present}}: {{totaal_afwezig}}<br>
<br>
{{lbl_page_refreshes_every}} {{date}}
</i></font>
