<h1>{{title}}</h1>

<table border="0" cellspacing="0" cellpadding="2">
	<form name="frmA" method="POST">
		<tr>
			<td>{{lblLoginname}}:</td>
			<td><input type="text" name="fldUserName" class="login" maxlength="50" value="" placeholder="{{loginname_placeholder}}"></td>
		</tr>
		<tr>
			<td></td>
			<td>&nbsp;<input class="button_login" type="submit" name="btnSubmit" value="{{btn_login}}"></td>
		</tr>
	</form>
</table>
<br>

{{focusjavascriptcode|raw}}
